* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: block;
}

a:focus,
a:active {
    outline: none
}

nav,
footer,
header,
aside {
    display: block
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    --ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    --webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input ::-ms-clear {
    display: none;
} 

button {
    cursor: pointer;
}

button ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
}

.content {
    margin: 0 auto;
    max-width: 841px;
}



.content-info__list li::before {
    content:'';
    color: #273d46;
    background: url("../img/icons/li.svg") left no-repeat;
    padding: 0 0 0 30px;
}

.content-info__list li:nth-child(1) {
    line-height: 36px;
    text-decoration: line-through;

}

.content-info__list li:nth-child(2) {
    line-height: 36px;
    font-weight: 700;

}

.content-info__list li:nth-child(3) {
    line-height: 36px;
    font-weight: 400;
    font-style: italic;

}

.content-info__list li:last-child {
    text-transform: uppercase;
    margin-bottom: 50px;
}

.content-info__list li:nth-child(1):hover {
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
    text-decoration: none;

}

.content-info__list li:nth-child(2):hover {
    line-height: 36px;
    font-weight: 400;
    color: red;
}

.content-info__list li:nth-child(3):hover {
    line-height: 36px;
    font-weight: 400;
    font-style: normal;

}

.content-info__list li:last-child:hover {
    text-transform: none;
}

.textinput {
    width: 294px;
    height: 52px;
    border: 1px solid #b0b0b0;
    padding: 0 15px;
    margin-bottom: 30px
}

.textinput:focus {
    border: 1px solid #7fbed5;
    box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}

.textbutton {
    width: 199px;
    text-align: center;
    display: inline-block;
    height: 44px;
    padding: 15px;
    background-color: rgb(128, 183, 179);
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
}

.textbutton span::after {
    content: '';
    background: url('../img/icons/Shape.svg');
    padding: 0 21px 0 0;
}

.textbutton:hover {
    background-color: #3A5856
}

.textbutton:ACTIVE {
    background-color: GREY;
    box-shadow: none;
}

form{
    margin-bottom: 50px;
}

p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

p:nth-child(1)::first-line{
    color: #ff0000;
}

p:nth-child(2)::first-letter{
    color: #ff0000;
}